@font-face {
    font-family: spaceranger;
    src: url('/styles/fonts/spaceranger.ttf');
}

body {
  background-color: black;
}

.container {

  width: 100%;
  /*background-color: #443355;*/
}

.header {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: black;
  font-size: 60px;
  font-family: spaceranger;
  color: red;
  text-align: center;
}

.navbar {
  border: 1px solid black;
  height: 50px;
  padding-top: 10px;
  font-family: spaceranger;
  font-size: 30px;
  background-color: black;

  text-align: center;
}

.subjectContainer {
  padding-top: 50px;
  text-align: center;
  border: 1px solid black;
}

.eleven {
  padding-bottom: 500px;
  background-image: url("../images/elevencoke.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.chief {
  padding-bottom: 500px;
  background-image: url("../images/chiefnohat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.dustin {
  padding-bottom: 500px;
  background-image: url("../images/dustinhat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footerContainer {
  color: red;
  text-align: center;
  /*border: 1px solid white;*/
}

.navbar {

}
.navButton {
  color: red;
  display: inline-block;
  margin-right: 10px;
  /*border: 1px solid white;*/
}

.imageBox {
  display: inline-block;
}

.homeimage {
  padding-bottom: 900px;
  background-image: url("../images/poster.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  display: inline-block;
  margin: 10px auto 40px auto;
  border: 1px solid white;
}

a {
  color: red;
  text-decoration: none;
}

#elevenInfo {
  color: rgb(191,184,160);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 200px;
  width: 35%;
  text-align: center;
  border: 1px solid white;
}

#elevenQuote {
  font-style: italic;
  font-size: 20px;
}

.wrapper {
  /*border: 1px dashed #95a5a6;*/
  height: 56px;
  margin-top: 5px;
  font-size: 12px;
}

#chiefInfo {
  color: rgb(191,184,160);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 100px;
  margin-top: 40px;
  width: 35%;
  text-align: center;
  border: 1px solid white;
}

#chiefQuote {
  font-style: italic;
  font-size: 20px;
}

#dustinInfo {
  color: rgb(191,184,160);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 950px;
  margin-top: 0px;
  width: 35%;
  text-align: center;
  border: 1px solid white;
}

#dustinQuote {
  font-style: italic;
  font-size: 20px;
}
