@font-face {
    font-family: spaceranger;
    src: url('/styles/fonts/spaceranger.ttf');
}


.container {

  width: 100%;
  /*background-color: #443355;*/
}

.header {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: black;
  font-size: 60px;
  font-family: spaceranger;
  color: red;
  text-align: center;
}

.navbar {
  border: 1px solid black;
  height: 50px;
  padding-top: 10px;
  font-family: spaceranger;
  font-size: 30px;
  background-color: black;

  text-align: center;
}

.subjectContainer {
  margin-top: 40px;
  text-align: center;
  border: 1px solid black;
}

.footerContainer {
  text-align: center;
  border: 1px solid white;
}

.navbar {

}
.navButton {
  color: red;
  display: inline-block;
  margin-right: 10px;
  /*border: 1px solid white;*/
}

.imageBox {
  display: block;
}

.content {
  display: inline-block;
  margin: 10px auto 40px auto;
  border: 1px solid white;
}

a {
  color: red;
  text-decoration: none;
}
